@import '../../../../helperSass/variables';
@import '../../../../helperSass/mixins';

.dropDownToggleNav{
    overflow-y: auto;
    max-height: 500px;
    position: absolute;
    z-index: 10;
    top: 61px;
    right: 50px;
    margin: auto;
    padding: 20px 30px;
    background-color: #fff;
    width: 330px;
    box-shadow: 0 -2px 10px #cccccc80;
    @include prefixer(transition,all 0.3s ease-in-out , webkit);
    visibility: hidden;
    @media (max-width:1199.98px) {
        right: 0;
    }
    @media (max-width:991.98px) {
        display: none;
    }
} 