@import '../../../helperSass/variables';

.about{
    .wrapper{
        background: url(../../../images/about.png) no-repeat;
        background-size: cover;
        min-height:  80.33vh;
        .content{
            max-width: 90%;
            padding-top: 15%;
            padding-bottom: 15%;
            color: #fff;
            h3,p{margin-bottom: 30px;}
            .qoute{
                display: flex;
                h4{padding-left: 20px;}
            }
        }
    }

    .bottom-content{
        margin: 50px 0;
        .cont{
            margin-bottom: 30px;
            h6{margin-bottom: 15px;}
            p{
                font-size: 15px;
                line-height: 1.7;
                margin-bottom: 0rem;
                color:$thirdColor;
                span{font-weight: 500;}
            }
        }
    }
}