.caption{
    p{font-size: 2.5vw;}
    h1{font-size: 4.5vw;}
    span{
        margin: 35px 0;
        @media (max-width:991.98px) {
            margin: 2px 0;
         }
    }
    .btn{
        font-size: 15px;
        font-weight: 600;
        padding: 10px 15px;
        @media (max-width:991.98px) {
            font-size: 10px;
         }

         @media (max-width:575.98px) {
            display: none;
         }
         
    }

}

