@import '../../../helperSass/variables';
@import '../../../helperSass/mixins';

.card-ser{
    margin-bottom: 20px;
    img{width: 100%;}
    .contt{
        padding: 20px;
        h6{
            a{
                color:$secondColor;
                @include prefixer(transition , color 0.3s ease-in-out,webkit);
                &:hover{
                    text-decoration: none;
                    color:$mainColor;
                }
            }
        }
        p{
            color:$thirdColor;
            font-size: 14px;
        }
    }
}