.countP{
    padding-right: 40px;
    input{ 
        width:100px;
        text-align: center;
        padding: 0.7rem .75rem;
        border: 3px solid #cccccc54;
    }
    .countButton{
        background-color: #cccccc54;
    }
} 