@import '../../../helperSass/variables';
@import '../../../helperSass/mixins';

.foot1{
    padding-top: 20px;
    .background-foot1{
        background-color: $mainColor;
        padding: 15px;
        .foot-content{
            color:#fff;
            span{
                font-size: 16px;
                font-weight: 600;
                line-height: 2;
            }
            .form-control{
                display: inline;
                width: 80%;
            }
            .btn{
                font-size: 14px;
                font-weight: 500;
                padding: 7px 10px;
            }
            
            .icons{
                i{
                    padding: 0 10px;
                    line-height: 2;
                }
            }
            @media (min-width: 768px) and (max-width: 991.98px) {
                .btn{
                    font-size: 12px;
                    padding: 9px 5px;
                }
                span{font-size: 14px;}
                .icons{i{padding: 0 6px;}}
            }

        }
    }
}